.Humburger{
    width: 33px;
    height: 33px;
    background: transparent;
    z-index: 1000;
    cursor:pointer;
}
.Humburger div{
    border-radius: 20px;
    height:4px;
    width:33px;
    margin-bottom:5px;
    background-color: black;
}