.Humburger{
    background: none;
    display:block;
    position:relative;
    z-index:1;
    user-select:none;
    appearance:none;
    border:none;
    outline:none;
    cursor:pointer;
}
.Humburger span{
    height:4px;
    width:33px;
    margin-bottom:5px;
    position:relative;
    background-color:black;
}